<!doctype html>
<html>
<head>
<title>{{ data.question }}</title>
</head>
<body>
<h1>You already voted for: </h1>
{{ data.question }}
<h1>you have upset dave</h1>
<img src="/static/saddave.jpg" alt="saddave">

</body>
</html>

