<!doctype html>
<html>
<head>
<title>{{ data.question }}</title>
</head>
<body>
<h1>Results for</h1>
{{ data.question }}

<ul>
{% for e in votes %}
  <li>{{ e }} {{ votes[e] }}</li>
{% endfor %}
</ul>

Average: {{ average }}<br/>
Number of votes: {{ counter }}<br/>
Total: {{ total }}<br/> 

</body>
</html>


